.barracuda-bg {
  background-image: url(https://images.unsplash.com/photo-1582395880240-8a89060981de?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  min-height: 80dvh;
}

.text-shadow {
  text-shadow: 1px 1px black;
}